{{> header}}

<article>
    <form action="/questions-2" method="post">
        <fieldset>
            <legend>Algemeen</legend>
            <label>
                1. Hoe oud bent u?
                <input id="age" name="age" type="text" inputmode="numeric" pattern="[0-9]{2,3}" {{#if age}} value="{{age}}" {{/if}}><p class="inline-block year">jaar</p>
            </label>

            <label>
                2. Wat is uw naam?
                <input name="fullname" type="text" placeholder="voornaam achternaam" {{#if fullname}} value="{{fullname}}" {{/if}}>
            </label>

            <label>
                3. Waar heeft u hulp bij nodig?
                <textarea name="reason" cols="50" rows="10" placeholder="Bijvoorbeeld: Ik kan zelf geen boodschappen doen">{{#if reason}} {{reason}} {{/if}}</textarea>
            </label>
            
            <labek>
                4. Heeft u naasten/bekenden die u kunnen helpen?
                <label>
                    Ja 
                    <input type="radio" value="yes" name="needhelp" {{#if needhelp }} checked {{/if}}>
                </label>
                <label>
                    Nee 
                    <input type="radio" value="no" name="needhelp" {{#unless needhelp }} checked {{/unless}}>
                </label>
            </label>
        </fieldset>

            <input type="text" name="currentpage" value="questions-2" hidden>
            <input type="text" name="user" value="{{user}}" hidden>

            {{!-- HIDDEN INPUTS - questions 2 --}}
            <input name="healthissues" type="text" hidden {{#if healthissues}} value="{{healthissues}}" {{/if}}>
            <input name="question6" type="text" hidden {{#if question6}} value="{{question6}}" {{/if}}>
            <input name="question7" hidden {{#if question7}} value="{{question7}}" {{/if}}>
           
            <input class="next next-button" type="submit" id="Submit" value="Volgende"/>    
    </form>
    
    <a class="back" href="/getCode">Terug</a>
</article>

<script src="/js/questions1.js"></script>