{{> header}}

<section>
    <p>Voortgang: 33%</p>
    <div id="progressbar">
        <div id="step2"></div>
    </div>
</section>

<article>
    <form action="/questions-3" method="post">
        <fieldset>
            <legend>Divers</legend>
            <label>
                5. Heeft u gezondheidsklachten?
                <textarea name="healthissues" cols="50" rows="10" placeholder="Bijvoorbeeld: Ik kan niet lopen">{{#if healthissues}} {{healthissues}} {{/if}}</textarea>
            </label>

            <label>
                6. Vraag 6
                <input name="question6" type="text" {{#if question6}} value="{{question6}}" {{/if}}>
            </label>

            <label>
                7. Wat is uw e-mailadres?
                <p class="instruction-text">Hiermee zullen wij u contacteren</p>
                <input name="question7" type="email" placeholder="voorbeeld@gmail.com" {{#if question7}} value="{{question7}}" {{/if}}>
            </label>
        </fieldset>

            <input type="text" name="currentpage" value="questions-3" hidden>
            <input type="text" name="user" value="{{user}}" hidden>

            <input class="next next-button" type="submit" id="Submit" value="Volgende"/>     
    </form>

    <form action="/questions-1" method="post">
            {{!-- HIDDEN INPUTS - general --}}
            <input type="text" name="currentpage" value="questions-2" hidden>
            <input type="text" name="user" value="{{user}}" hidden>

            {{!-- HIDDEN INPUTS - question 1 --}}
            <input name="age" type="text" hidden {{#if age}} value="{{age}}" {{/if}}>
            <input name="fullname" type="text" hidden {{#if fullname}} value="{{fullname}}" {{/if}}>
            <input name="reason" hidden {{#if reason}} value="{{reason}}" {{/if}}>
            <input type="radio" value="yes" name="needhelp" hidden {{#if needhelp }} checked {{/if}}>
            <input type="radio" value="no" name="needhelp" hidden {{#unless needhelp }} checked {{/unless}}>

            <input class="back" type="submit" id="Submit" value="Terug"/>  
    </form>
</article>